.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 999;

  .header-main {
    margin: 0 auto;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu-list {
        display: flex;
        align-items: center;
        list-style: none;
        align-content: center;
        gap: 24px;
        flex-wrap: wrap;

        .menu-item {
          /* font lora/subtitle */
          font-family: $secondary-font;
          font-size: 17px;
          color: $black100;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 20.4px */
          letter-spacing: 0.15px;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            content: "";
            border-bottom: 4px solid $primary-color;
            border-radius: 4px;
            width: 22px;
            bottom: -8px;
            left: 0;
            opacity: 0;
          }
          &:hover:after {
            opacity: 1;
          }

          &:first-child {
            color: $primary-color;
            &:hover:after {
              opacity: 0;
            }
          }
          .menu-link {
            transition: color 0.3s ease, transform 0.3s ease;
          }

          .menu-link.active {
            color: rgba(0, 150, 136, 1);
            transform: translateY(-3px);
          }
        }
      }
    }
    .menu-toggle {
      font-size: 30px;
      color: $black54;
    }
    .btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      &-SignUp {
        background: none;
        /* font lora/subtitle */
        padding: 8px 10px;
        font-family: $secondary-font;
        font-size: 17px;
        color: $black100;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 20.4px */
        letter-spacing: 0.15px;
        &:hover {
          border: 1px solid $primary-color;
          background-color: $white-color;
          padding: 8px 10px;
          border-radius: 4px;
        }
      }
      &-Login {
        border-radius: 4px;
        padding: 8px 10px;
        background: $primary-color;
        color: $white-color;

        /* font lora/subtitle */
        font-family: $secondary-font;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 20.4px */
        letter-spacing: 0.15px;
        &:hover {
          border: 1px solid $primary-color;
          background-color: $white-color;
          padding: 8px 10px;
          border-radius: 4px;
          color: $primary-color;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .menu-toggle {
      display: none; /* Ẩn menu-toggle khi màn hình lớn hơn 1024px */
    }
  }
  @media screen and (max-width: 1023.98px) {
    .menu {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      width: 300px;
      z-index: 9;
      transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transform: translateX(100%);
      flex-direction: column;
      align-items: stretch;
      .menu-list {
        flex-direction: column;
        padding-top: 56px;
      }
      &.is-show {
        transform: translateX(0);
      }
      .menu-toggle {
        display: block;
      }
    }
  }
  @media screen and (max-width: 768.98px) {
    .container {
      margin: 0 40px;
      .header-main {
        img {
          max-width: 35%;
        }
      }
    }
  }
  @media screen and (max-width: 600.98px) {
    .container {
      .header-main {
        img {
          max-width: 40%;
        }
      }
    }
  }
  @media screen and (max-width: 414.98px) {
    .container {
      margin: 0 20px;
      .header-main {
        height: 70px;
        img {
          max-width: 13%;
          content: url(/image/textLogo2.png);
        }
        .menu-toggle {
          font-size: 26px;
        }
        .btn {
          gap: 4px;
          .btn-SignUp {
            font-size: 13px;
            padding: 6px 8px;
          }
          .btn-Login {
            font-size: 14px;
            padding: 6px 8px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 375.98px) {
    .container {
      margin: 0 12px;
    }
  }
}
