$primary-font: "Lora", serif;
$secondary-font: "Open Sans", sans-serif;
$black12: rgba(0, 0, 0, 0.12);
$black38: rgba(0, 0, 0, 0.38);
$black54: rgba(0, 0, 0, 0.54);
$black100: rgba(0, 0, 0, 0.87);
$white-color: rgba(255, 255, 255, 1);
$Contrast-color: rgba(255, 167, 38, 1);
$primary-color: rgba(0, 150, 136, 1);
$secondary-color: rgba(142, 68, 173, 1);
